@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova";
  src: url(/layout/fonts/ProximaNova-Light.eot);
  src: url(/layout/fonts/ProximaNova-Light.eot?#iefix) format('embedded-opentype'), url(/layout/fonts/ProximaNova-Light.eot) format('embedded-opentype'), url(/layout/fonts/ProximaNova-Light.svg) format('svg'), url(/layout/fonts/ProximaNova-Light.ttf) format('truetype'), url(/layout/fonts/ProximaNova-Light.woff) format('woff');
  font-weight: 300;
  font-style: "normal";
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/layout/fonts/proximanova-reg-webfont.eot);
  src: url(/layout/fonts/proximanova-reg-webfont.eot?#iefix) format('embedded-opentype'), url(/layout/fonts/proximanova-reg-webfont.eot) format('embedded-opentype'), url(/layout/fonts/proximanova-reg-webfont.svg) format('svg'), url(/layout/fonts/proximanova-reg-webfont.ttf) format('truetype'), url(/layout/fonts/proximanova-reg-webfont.woff) format('woff');
  font-weight: 400;
  font-style: "normal";
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/layout/fonts/proximanova-bold-webfont.eot);
  src: url(/layout/fonts/proximanova-bold-webfont.eot?#iefix) format('embedded-opentype'), url(/layout/fonts/proximanova-bold-webfont.eot) format('embedded-opentype'), url(/layout/fonts/proximanova-bold-webfont.svg) format('svg'), url(/layout/fonts/proximanova-bold-webfont.ttf) format('truetype'), url(/layout/fonts/proximanova-bold-webfont.woff) format('woff');
  font-weight: 600;
  font-style: "normal";
}
@font-face {
  font-family: "Proxima Nova";
  src: url(/layout/fonts/proximanova-xbold-webfont.eot);
  src: url(/layout/fonts/proximanova-xbold-webfont.eot?#iefix) format('embedded-opentype'), url(/layout/fonts/proximanova-xbold-webfont.eot) format('embedded-opentype'), url(/layout/fonts/proximanova-xbold-webfont.svg) format('svg'), url(/layout/fonts/proximanova-xbold-webfont.ttf) format('truetype'), url(/layout/fonts/proximanova-xbold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: "normal";
}
html, body {
  min-height: 100%;
}

body {
  min-height: 100%;
  float: left;
  width: 100%;
  position: relative;
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 14px;
  background: white;
}

a, a span, a img, .social, .contacts {
  -moz-transition-property: background, opacity, color, border, box-shadow, z-index, margin, height;
  -o-transition-property: background, opacity, color, border, box-shadow, z-index, margin, height;
  -webkit-transition-property: background, opacity, color, border, box-shadow, z-index, margin, height;
  transition-property: background, opacity, color, border, box-shadow, z-index, margin, height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: black;
}
a:hover, a span:hover, a img:hover, .social:hover, .contacts:hover {
  text-decoration: none;
}

#panel a, #panel span, #panel img {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

.container {
  width: 992px;
  margin: 0 auto;
}
.container img {
  max-width: 100%;
}

#panel {
  position: absolute;
  width: 100%;
  top: 0;
}

#toolbar {
  top: 0;
  z-index: 2;
  position: fixed;
  -moz-transition-property: background;
  -o-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 100%;
  overflow: hidden;
  color: white;
  height: 95px;
}
#toolbar div a.nav:last-child {
  margin-right: 0;
}
#toolbar .logo {
  float: left;
  width: 100%;
  position: relative;
  height: 73px;
  margin-top: 10px;
  text-align: center;
  background-size: contain;
}
#toolbar .logo svg {
  height: 73px;
  display: inline-block;
}
#toolbar .logo svg path {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#toolbar .logo:hover svg {
  opacity: 0.7;
}
#toolbar .row .col-md-5:last-child a.nav {
  margin-right: 0;
}
#toolbar .social {
  float: left;
  margin-top: 36px;
}
#toolbar .social a {
  float: left;
  width: 27px;
  height: 27px;
}
#toolbar .social a svg {
  height: 27px;
}
#toolbar .social a:hover {
  opacity: 0.7;
}
#toolbar .contacts {
  float: left;
  margin-right: 15px;
  text-align: center;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 43px;
}
#toolbar .contacts a {
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}
#toolbar .contacts a:first-child {
  margin-right: 15px;
}
#toolbar .contacts a:hover {
  opacity: 0.7;
}
#toolbar a.nav {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin-top: 40px;
  float: left;
  margin-right: 24px;
}
#toolbar a.nav:hover {
  opacity: 0.7;
}
#toolbar a.nav.order {
  float: right;
  border-radius: 3px;
  border: 1px solid white;
  line-height: 24px;
  padding: 2px 10px 0;
  margin-top: 35px;
  margin-right: 0;
}
#toolbar.fixed {
  background: white;
  height: 55px;
}
#toolbar.fixed .logo svg {
  height: 38px;
}
#toolbar.fixed .logo svg path {
  fill: #8f9ea2;
}
#toolbar.fixed .contacts {
  margin-top: 21px;
}
#toolbar.fixed .contacts a {
  color: #6c7f8c;
}
#toolbar.fixed .social {
  margin-top: 13px;
}
#toolbar.fixed .social svg path {
  fill: #a8b5b9;
}
#toolbar.fixed a.nav {
  margin-top: 18px;
  color: #8f9ea2;
}
#toolbar.fixed a.nav:hover {
  color: black;
}
#toolbar.fixed a.nav.order {
  margin-top: 13px;
  border-color: #8f9ea2;
}
#toolbar.fixed a.nav.order:hover {
  border-color: black;
}
#toolbar.inner a.logo, #toolbar.inner a.active, #toolbar.inner a:hover {
  color: black;
}
#toolbar.inner + .block {
  padding-top: 110px;
}

a.big-button, .resp_slider .item .content a.button {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  line-height: 42px;
  display: inline-block;
  padding: 3px 20px 0;
  margin-bottom: 20px;
  background-color: transparent;
}
a.big-button:hover, .resp_slider .item .content a.button:hover {
  background: white;
  opacity: 1 !important;
}
.red a.big-button:hover, .red .resp_slider .item .content a.button:hover {
  color: #cb0019;
}
.blue a.big-button:hover, .blue .resp_slider .item .content a.button:hover {
  color: #092ed8;
}
.blue2 a.big-button:hover, .blue2 .resp_slider .item .content a.button:hover {
  color: #00bbd1;
}
.blue3 a.big-button:hover, .blue3 .resp_slider .item .content a.button:hover {
  color: #0049c1;
}
.blue4 a.big-button:hover, .blue4 .resp_slider .item .content a.button:hover {
  color: cyan;
}
.blue5 a.big-button:hover, .blue5 .resp_slider .item .content a.button:hover {
  color: #00bafb;
}
.blue6 a.big-button:hover, .blue6 .resp_slider .item .content a.button:hover {
  color: #244fbf;
}
.blue7 a.big-button:hover, .blue7 .resp_slider .item .content a.button:hover {
  color: #0e2a60;
}
.gray a.big-button:hover, .gray .resp_slider .item .content a.button:hover {
  color: #474654;
}
.gray2 a.big-button:hover, .gray2 .resp_slider .item .content a.button:hover {
  color: #d0d0d4;
}
.gray5 a.big-button:hover, .gray5 .resp_slider .item .content a.button:hover {
  color: #2f3748;
}
.gray6 a.big-button:hover, .gray6 .resp_slider .item .content a.button:hover {
  color: #2a2e3d;
}
.gray7 a.big-button:hover, .gray7 .resp_slider .item .content a.button:hover {
  color: #1f2231;
}
.gray8 a.big-button:hover, .gray8 .resp_slider .item .content a.button:hover {
  color: #f1f6f7;
}
.gray9 a.big-button:hover, .gray9 .resp_slider .item .content a.button:hover {
  color: #151723;
}
.gray3 a.big-button:hover, .gray3 .resp_slider .item .content a.button:hover {
  color: #dde3e8;
}
.violet a.big-button:hover, .violet .resp_slider .item .content a.button:hover {
  color: #1e1b36;
}
.violet2 a.big-button:hover, .violet2 .resp_slider .item .content a.button:hover {
  color: #41377d;
}
.orange a.big-button:hover, .orange .resp_slider .item .content a.button:hover {
  color: #ffba00;
}
.orange2 a.big-button:hover, .orange2 .resp_slider .item .content a.button:hover {
  color: #ff9600;
}
.black a.big-button:hover, .black .resp_slider .item .content a.button:hover {
  color: #13121b;
}
.white a.big-button:hover, .white .resp_slider .item .content a.button:hover {
  color: white;
}
.gray4 a.big-button:hover, .gray4 .resp_slider .item .content a.button:hover {
  color: #dfeaec;
}
a.big-button.red, .resp_slider .item .content a.button.red {
  color: #cb0019;
  border-color: #cb0019;
}
a.big-button.red:hover, .resp_slider .item .content a.button.red:hover {
  background: #cb0019;
}
a.big-button.blue, .resp_slider .item .content a.button.blue {
  color: #092ed8;
  border-color: #092ed8;
}
a.big-button.blue:hover, .resp_slider .item .content a.button.blue:hover {
  background: #092ed8;
}
a.big-button.blue2, .resp_slider .item .content a.button.blue2 {
  color: #00bbd1;
  border-color: #00bbd1;
}
a.big-button.blue2:hover, .resp_slider .item .content a.button.blue2:hover {
  background: #00bbd1;
}
a.big-button.blue3, .resp_slider .item .content a.button.blue3 {
  color: #0049c1;
  border-color: #0049c1;
}
a.big-button.blue3:hover, .resp_slider .item .content a.button.blue3:hover {
  background: #0049c1;
}
a.big-button.blue4, .resp_slider .item .content a.button.blue4 {
  color: cyan;
  border-color: cyan;
}
a.big-button.blue4:hover, .resp_slider .item .content a.button.blue4:hover {
  background: cyan;
}
a.big-button.blue5, .resp_slider .item .content a.button.blue5 {
  color: #00bafb;
  border-color: #00bafb;
}
a.big-button.blue5:hover, .resp_slider .item .content a.button.blue5:hover {
  background: #00bafb;
}
a.big-button.blue6, .resp_slider .item .content a.button.blue6 {
  color: #244fbf;
  border-color: #244fbf;
}
a.big-button.blue6:hover, .resp_slider .item .content a.button.blue6:hover {
  background: #244fbf;
}
a.big-button.blue7, .resp_slider .item .content a.button.blue7 {
  color: #0e2a60;
  border-color: #0e2a60;
}
a.big-button.blue7:hover, .resp_slider .item .content a.button.blue7:hover {
  background: #0e2a60;
}
a.big-button.gray, .resp_slider .item .content a.button.gray {
  color: #474654;
  border-color: #474654;
}
a.big-button.gray:hover, .resp_slider .item .content a.button.gray:hover {
  background: #474654;
}
a.big-button.gray2, .resp_slider .item .content a.button.gray2 {
  color: #d0d0d4;
  border-color: #d0d0d4;
}
a.big-button.gray2:hover, .resp_slider .item .content a.button.gray2:hover {
  background: #d0d0d4;
}
a.big-button.gray5, .resp_slider .item .content a.button.gray5 {
  color: #2f3748;
  border-color: #2f3748;
}
a.big-button.gray5:hover, .resp_slider .item .content a.button.gray5:hover {
  background: #2f3748;
}
a.big-button.gray6, .resp_slider .item .content a.button.gray6 {
  color: #2a2e3d;
  border-color: #2a2e3d;
}
a.big-button.gray6:hover, .resp_slider .item .content a.button.gray6:hover {
  background: #2a2e3d;
}
a.big-button.gray7, .resp_slider .item .content a.button.gray7 {
  color: #1f2231;
  border-color: #1f2231;
}
a.big-button.gray7:hover, .resp_slider .item .content a.button.gray7:hover {
  background: #1f2231;
}
a.big-button.gray8, .resp_slider .item .content a.button.gray8 {
  color: #f1f6f7;
  border-color: #f1f6f7;
}
a.big-button.gray8:hover, .resp_slider .item .content a.button.gray8:hover {
  background: #f1f6f7;
}
a.big-button.gray9, .resp_slider .item .content a.button.gray9 {
  color: #151723;
  border-color: #151723;
}
a.big-button.gray9:hover, .resp_slider .item .content a.button.gray9:hover {
  background: #151723;
}
a.big-button.gray3, .resp_slider .item .content a.button.gray3 {
  color: #dde3e8;
  border-color: #dde3e8;
}
a.big-button.gray3:hover, .resp_slider .item .content a.button.gray3:hover {
  background: #dde3e8;
}
a.big-button.violet, .resp_slider .item .content a.button.violet {
  color: #1e1b36;
  border-color: #1e1b36;
}
a.big-button.violet:hover, .resp_slider .item .content a.button.violet:hover {
  background: #1e1b36;
}
a.big-button.violet2, .resp_slider .item .content a.button.violet2 {
  color: #41377d;
  border-color: #41377d;
}
a.big-button.violet2:hover, .resp_slider .item .content a.button.violet2:hover {
  background: #41377d;
}
a.big-button.orange, .resp_slider .item .content a.button.orange {
  color: #ffba00;
  border-color: #ffba00;
}
a.big-button.orange:hover, .resp_slider .item .content a.button.orange:hover {
  background: #ffba00;
}
a.big-button.orange2, .resp_slider .item .content a.button.orange2 {
  color: #ff9600;
  border-color: #ff9600;
}
a.big-button.orange2:hover, .resp_slider .item .content a.button.orange2:hover {
  background: #ff9600;
}
a.big-button.black, .resp_slider .item .content a.button.black {
  color: #13121b;
  border-color: #13121b;
}
a.big-button.black:hover, .resp_slider .item .content a.button.black:hover {
  background: #13121b;
}
a.big-button.white, .resp_slider .item .content a.button.white {
  color: white;
  border-color: white;
}
a.big-button.white:hover, .resp_slider .item .content a.button.white:hover {
  background: white;
}
a.big-button.gray4, .resp_slider .item .content a.button.gray4 {
  color: #dfeaec;
  border-color: #dfeaec;
}
a.big-button.gray4:hover, .resp_slider .item .content a.button.gray4:hover {
  background: #dfeaec;
}

.resp_slider.background--light .item .content a.button {
  background: transparent;
  border-color: black;
  color: black;
}
.resp_slider.background--light .item .content a.button:hover {
  background: black;
  color: white;
}

.color.red {
  color: #cb0019 !important;
}
.color.red.task, .color.red.link {
  border-color: #cb0019 !important;
}
.color.red.task a, .color.red.link a {
  color: #cb0019;
}
.color.red.task:after, .color.red.link:after {
  color: #cb0019;
}
.color.blue {
  color: #092ed8 !important;
}
.color.blue.task, .color.blue.link {
  border-color: #092ed8 !important;
}
.color.blue.task a, .color.blue.link a {
  color: #092ed8;
}
.color.blue.task:after, .color.blue.link:after {
  color: #092ed8;
}
.color.blue2 {
  color: #00bbd1 !important;
}
.color.blue2.task, .color.blue2.link {
  border-color: #00bbd1 !important;
}
.color.blue2.task a, .color.blue2.link a {
  color: #00bbd1;
}
.color.blue2.task:after, .color.blue2.link:after {
  color: #00bbd1;
}
.color.blue3 {
  color: #0049c1 !important;
}
.color.blue3.task, .color.blue3.link {
  border-color: #0049c1 !important;
}
.color.blue3.task a, .color.blue3.link a {
  color: #0049c1;
}
.color.blue3.task:after, .color.blue3.link:after {
  color: #0049c1;
}
.color.blue4 {
  color: cyan !important;
}
.color.blue4.task, .color.blue4.link {
  border-color: cyan !important;
}
.color.blue4.task a, .color.blue4.link a {
  color: cyan;
}
.color.blue4.task:after, .color.blue4.link:after {
  color: cyan;
}
.color.blue5 {
  color: #00bafb !important;
}
.color.blue5.task, .color.blue5.link {
  border-color: #00bafb !important;
}
.color.blue5.task a, .color.blue5.link a {
  color: #00bafb;
}
.color.blue5.task:after, .color.blue5.link:after {
  color: #00bafb;
}
.color.blue6 {
  color: #244fbf !important;
}
.color.blue6.task, .color.blue6.link {
  border-color: #244fbf !important;
}
.color.blue6.task a, .color.blue6.link a {
  color: #244fbf;
}
.color.blue6.task:after, .color.blue6.link:after {
  color: #244fbf;
}
.color.blue7 {
  color: #0e2a60 !important;
}
.color.blue7.task, .color.blue7.link {
  border-color: #0e2a60 !important;
}
.color.blue7.task a, .color.blue7.link a {
  color: #0e2a60;
}
.color.blue7.task:after, .color.blue7.link:after {
  color: #0e2a60;
}
.color.gray {
  color: #474654 !important;
}
.color.gray.task, .color.gray.link {
  border-color: #474654 !important;
}
.color.gray.task a, .color.gray.link a {
  color: #474654;
}
.color.gray.task:after, .color.gray.link:after {
  color: #474654;
}
.color.gray2 {
  color: #d0d0d4 !important;
}
.color.gray2.task, .color.gray2.link {
  border-color: #d0d0d4 !important;
}
.color.gray2.task a, .color.gray2.link a {
  color: #d0d0d4;
}
.color.gray2.task:after, .color.gray2.link:after {
  color: #d0d0d4;
}
.color.gray5 {
  color: #2f3748 !important;
}
.color.gray5.task, .color.gray5.link {
  border-color: #2f3748 !important;
}
.color.gray5.task a, .color.gray5.link a {
  color: #2f3748;
}
.color.gray5.task:after, .color.gray5.link:after {
  color: #2f3748;
}
.color.gray6 {
  color: #2a2e3d !important;
}
.color.gray6.task, .color.gray6.link {
  border-color: #2a2e3d !important;
}
.color.gray6.task a, .color.gray6.link a {
  color: #2a2e3d;
}
.color.gray6.task:after, .color.gray6.link:after {
  color: #2a2e3d;
}
.color.gray7 {
  color: #1f2231 !important;
}
.color.gray7.task, .color.gray7.link {
  border-color: #1f2231 !important;
}
.color.gray7.task a, .color.gray7.link a {
  color: #1f2231;
}
.color.gray7.task:after, .color.gray7.link:after {
  color: #1f2231;
}
.color.gray8 {
  color: #f1f6f7 !important;
}
.color.gray8.task, .color.gray8.link {
  border-color: #f1f6f7 !important;
}
.color.gray8.task a, .color.gray8.link a {
  color: #f1f6f7;
}
.color.gray8.task:after, .color.gray8.link:after {
  color: #f1f6f7;
}
.color.gray9 {
  color: #151723 !important;
}
.color.gray9.task, .color.gray9.link {
  border-color: #151723 !important;
}
.color.gray9.task a, .color.gray9.link a {
  color: #151723;
}
.color.gray9.task:after, .color.gray9.link:after {
  color: #151723;
}
.color.gray3 {
  color: #dde3e8 !important;
}
.color.gray3.task, .color.gray3.link {
  border-color: #dde3e8 !important;
}
.color.gray3.task a, .color.gray3.link a {
  color: #dde3e8;
}
.color.gray3.task:after, .color.gray3.link:after {
  color: #dde3e8;
}
.color.violet {
  color: #1e1b36 !important;
}
.color.violet.task, .color.violet.link {
  border-color: #1e1b36 !important;
}
.color.violet.task a, .color.violet.link a {
  color: #1e1b36;
}
.color.violet.task:after, .color.violet.link:after {
  color: #1e1b36;
}
.color.violet2 {
  color: #41377d !important;
}
.color.violet2.task, .color.violet2.link {
  border-color: #41377d !important;
}
.color.violet2.task a, .color.violet2.link a {
  color: #41377d;
}
.color.violet2.task:after, .color.violet2.link:after {
  color: #41377d;
}
.color.orange {
  color: #ffba00 !important;
}
.color.orange.task, .color.orange.link {
  border-color: #ffba00 !important;
}
.color.orange.task a, .color.orange.link a {
  color: #ffba00;
}
.color.orange.task:after, .color.orange.link:after {
  color: #ffba00;
}
.color.orange2 {
  color: #ff9600 !important;
}
.color.orange2.task, .color.orange2.link {
  border-color: #ff9600 !important;
}
.color.orange2.task a, .color.orange2.link a {
  color: #ff9600;
}
.color.orange2.task:after, .color.orange2.link:after {
  color: #ff9600;
}
.color.black {
  color: #13121b !important;
}
.color.black.task, .color.black.link {
  border-color: #13121b !important;
}
.color.black.task a, .color.black.link a {
  color: #13121b;
}
.color.black.task:after, .color.black.link:after {
  color: #13121b;
}
.color.white {
  color: white !important;
}
.color.white.task, .color.white.link {
  border-color: white !important;
}
.color.white.task a, .color.white.link a {
  color: white;
}
.color.white.task:after, .color.white.link:after {
  color: white;
}
.color.gray4 {
  color: #dfeaec !important;
}
.color.gray4.task, .color.gray4.link {
  border-color: #dfeaec !important;
}
.color.gray4.task a, .color.gray4.link a {
  color: #dfeaec;
}
.color.gray4.task:after, .color.gray4.link:after {
  color: #dfeaec;
}

.bgcolor.red {
  background-color: #cb0019;
}
.bgcolor.red .task:after, .bgcolor.red .link:after {
  background-color: #cb0019;
}
.bgcolor.blue {
  background-color: #092ed8;
}
.bgcolor.blue .task:after, .bgcolor.blue .link:after {
  background-color: #092ed8;
}
.bgcolor.blue2 {
  background-color: #00bbd1;
}
.bgcolor.blue2 .task:after, .bgcolor.blue2 .link:after {
  background-color: #00bbd1;
}
.bgcolor.blue3 {
  background-color: #0049c1;
}
.bgcolor.blue3 .task:after, .bgcolor.blue3 .link:after {
  background-color: #0049c1;
}
.bgcolor.blue4 {
  background-color: cyan;
}
.bgcolor.blue4 .task:after, .bgcolor.blue4 .link:after {
  background-color: cyan;
}
.bgcolor.blue5 {
  background-color: #00bafb;
}
.bgcolor.blue5 .task:after, .bgcolor.blue5 .link:after {
  background-color: #00bafb;
}
.bgcolor.blue6 {
  background-color: #244fbf;
}
.bgcolor.blue6 .task:after, .bgcolor.blue6 .link:after {
  background-color: #244fbf;
}
.bgcolor.blue7 {
  background-color: #0e2a60;
}
.bgcolor.blue7 .task:after, .bgcolor.blue7 .link:after {
  background-color: #0e2a60;
}
.bgcolor.gray {
  background-color: #474654;
}
.bgcolor.gray .task:after, .bgcolor.gray .link:after {
  background-color: #474654;
}
.bgcolor.gray2 {
  background-color: #d0d0d4;
}
.bgcolor.gray2 .task:after, .bgcolor.gray2 .link:after {
  background-color: #d0d0d4;
}
.bgcolor.gray5 {
  background-color: #2f3748;
}
.bgcolor.gray5 .task:after, .bgcolor.gray5 .link:after {
  background-color: #2f3748;
}
.bgcolor.gray6 {
  background-color: #2a2e3d;
}
.bgcolor.gray6 .task:after, .bgcolor.gray6 .link:after {
  background-color: #2a2e3d;
}
.bgcolor.gray7 {
  background-color: #1f2231;
}
.bgcolor.gray7 .task:after, .bgcolor.gray7 .link:after {
  background-color: #1f2231;
}
.bgcolor.gray8 {
  background-color: #f1f6f7;
}
.bgcolor.gray8 .task:after, .bgcolor.gray8 .link:after {
  background-color: #f1f6f7;
}
.bgcolor.gray9 {
  background-color: #151723;
}
.bgcolor.gray9 .task:after, .bgcolor.gray9 .link:after {
  background-color: #151723;
}
.bgcolor.gray3 {
  background-color: #dde3e8;
}
.bgcolor.gray3 .task:after, .bgcolor.gray3 .link:after {
  background-color: #dde3e8;
}
.bgcolor.violet {
  background-color: #1e1b36;
}
.bgcolor.violet .task:after, .bgcolor.violet .link:after {
  background-color: #1e1b36;
}
.bgcolor.violet2 {
  background-color: #41377d;
}
.bgcolor.violet2 .task:after, .bgcolor.violet2 .link:after {
  background-color: #41377d;
}
.bgcolor.orange {
  background-color: #ffba00;
}
.bgcolor.orange .task:after, .bgcolor.orange .link:after {
  background-color: #ffba00;
}
.bgcolor.orange2 {
  background-color: #ff9600;
}
.bgcolor.orange2 .task:after, .bgcolor.orange2 .link:after {
  background-color: #ff9600;
}
.bgcolor.black {
  background-color: #13121b;
}
.bgcolor.black .task:after, .bgcolor.black .link:after {
  background-color: #13121b;
}
.bgcolor.white {
  background-color: white;
}
.bgcolor.white .task:after, .bgcolor.white .link:after {
  background-color: white;
}
.bgcolor.gray4 {
  background-color: #dfeaec;
}
.bgcolor.gray4 .task:after, .bgcolor.gray4 .link:after {
  background-color: #dfeaec;
}
.bgcolor a {
  color: white;
}
.bgcolor a:hover {
  opacity: 0.7;
}
.bgcolor.block p {
  color: white;
}
.bgcolor.bright .border-bottom, .bgcolor.bright .border-top {
  border-color: #008eff;
}
.bgcolor.bright a.big-button {
  border-color: #2f3748;
}
.bgcolor.bright a.big-button:hover {
  background: #2f3748;
}
.bgcolor.bright a, .bgcolor.bright p, .bgcolor.bright h1, .bgcolor.bright h2, .bgcolor.bright li {
  color: #2f3748;
}
.bgcolor.bright h1.title, .bgcolor.bright h2.title {
  color: black !important;
}
.bgcolor.bright h3.title {
  color: #858b96 !important;
}

#title {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
#title .content {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
}
#title h1 {
  font-weight: 700;
  letter-spacing: 3px;
}
#title .big-button {
  font-size: 20px;
}
#title h3 {
  max-width: 980px;
  font-size: 40px;
  margin: 0 auto;
  float: none;
  display: inline-block;
}

.resp_slider {
  float: left;
  width: 100%;
  position: relative;
  font-family: "Proxima Nova";
}
.resp_slider h1 {
  font-family: "Proxima Nova";
}
.resp_slider .item .content a.button {
  font-size: 20px;
}
.resp_slider .item .content p {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 50px;
  margin-bottom: 0;
  opacity: 1;
}
.resp_slider .item .content h1 {
  font-size: 85px;
  line-height: 80px;
  font-weight: 700;
}

.block {
  float: left;
  width: 100%;
  position: relative;
  padding: 45px 0;
}
.block .task, .block .link {
  min-width: 466px;
  display: inline-block;
  margin: 0 auto;
  padding: 28px 25px 25px 25px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  line-height: 29px;
  position: relative;
}
.block .task:after, .block .link:after {
  position: absolute;
  content: "Задача";
  text-transform: uppercase;
  font-weight: 600;
  top: -14px;
  font-size: 18px;
  letter-spacing: 2px;
  left: 50%;
  padding: 0 20px;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
}
.block .link {
  font-size: 26px;
}
.block .link:after {
  content: "Где посмотреть";
}
.block.bgimg {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block p {
  color: #222326;
}
.block ul {
  float: left;
  width: 100%;
  position: relative;
}
.block ul li {
  color: white;
  float: left;
  width: 100%;
  position: relative;
  font-size: 16px;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

.big-title {
  font-weight: 700;
  margin-bottom: 15px;
  color: #222326;
  text-transform: uppercase;
  float: left;
  width: 100%;
  position: relative;
  font-size: 17px;
}

#services {
  float: left;
  width: 100%;
  position: relative;
}
#services p {
  width: 90%;
  margin-left: 5%;
  color: #6b727a;
  line-height: 17px;
  margin-bottom: 0px;
  font-size: 14px;
  -moz-transition-property: background, opacity, color;
  -o-transition-property: background, opacity, color;
  -webkit-transition-property: background, opacity, color;
  transition-property: background, opacity, color;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#services .item {
  margin-bottom: 60px;
}
#services .item .title {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 16px;
  float: left;
  width: 100%;
  position: relative;
  margin-left: 5%;
}
#services .item .title a {
  color: #2f3748;
  text-transform: uppercase;
}
#services .item .title a:hover {
  opacity: 1;
  color: #1891fb;
}
#services .item .title .frame {
  height: 100px;
  display: inline-block;
}

#clients .row {
  float: left;
  width: 100%;
  position: relative;
  height: 100px;
  line-height: 100px;
  margin-left: 0;
  margin-bottom: 40px;
}
#clients .row img {
  vertical-align: middle;
}
#clients .row:first-of-type {
  margin-top: -20px;
}
#clients .row:last-of-type {
  margin-bottom: 50px;
}

#partners .row {
  line-height: 60px;
}
#partners .row img {
  vertical-align: middle;
}

.modal-backdrop.in {
  opacity: 0.8;
}

a.file, #Order input[type=submit] {
  float: left;
  font-size: 16px;
  border: 0;
  color: white;
  line-height: 33px;
  background: #00bbd1;
  padding: 2px 20px 0;
}
a.file:hover, #Order input[type=submit]:hover {
  opacity: 0.5;
}

.filename {
  line-height: 33px;
  padding: 2px 20px 0;
  display: inline-block;
}

.parsley-error {
  border: 1px solid #f64531 !important;
}

.parsley-errors-list {
  display: none !important;
}

#Order .modal-dialog {
  width: 885px;
}
#Order .modal-content {
  float: left;
  width: 100%;
  min-height: 240px;
  border-radius: 0;
  margin-bottom: 30px;
  box-shadow: none;
  background: #dde3e8;
  padding: 10px 60px 35px;
}
#Order .modal-content h1.title {
  font-size: 50px;
  margin-bottom: 0;
  color: #00b8cd;
}
#Order .modal-content .row + .row {
  margin-top: 10px;
}
#Order .modal-content #phone, #Order .modal-content #email {
  width: 120%;
}
#Order .modal-content #email {
  float: right;
}
#Order .modal-content h4 {
  text-transform: uppercase;
  line-height: 26px;
  font-weight: 600;
}
#Order .modal-content label {
  float: left;
  width: 100%;
  position: relative;
  font-weight: 600;
  line-height: 25px;
  padding: 7px 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}
#Order .modal-content input[type=email], #Order .modal-content input[type=text], #Order .modal-content textarea {
  float: left;
  width: 100%;
  position: relative;
  border: 1px solid #9ea6af;
  line-height: 25px;
  padding: 3px 10px;
  font-size: 15px;
  max-width: 100%;
}
#Order .modal-content input[type=email]:focus, #Order .modal-content input[type=text]:focus, #Order .modal-content textarea:focus {
  outline: 0;
  border-color: #00bbd1;
}
#Order .modal-content label + .text {
  margin-top: 20px;
}
#Order .modal-content .text {
  margin-left: 10px;
  font-size: 14px;
  float: left;
  line-height: 15px;
  width: 83%;
  float: left;
}
#Order .modal-content .row.last {
  margin-top: 30px;
}
#Order .modal-content input[name=captcha_word], #Order .modal-content input[type=submit] {
  height: 42px;
}
#Order .modal-content input[type=submit] {
  float: right;
  text-transform: uppercase;
  font-weight: 600;
  width: 95%;
  background: #f64531;
}
#Order .modal-content input[type=submit]:hover {
  -moz-box-shadow: 2px 2px 0 0 rgba(177, 32, 20, 0.5);
  -webkit-box-shadow: 2px 2px 0 0 rgba(177, 32, 20, 0.5);
  box-shadow: 2px 2px 0 0 rgba(177, 32, 20, 0.5);
  opacity: 1;
}
#Order .modal-content .captcha_img {
  border: 1px solid #9ea6af;
}
#Order .modal-content .frame {
  float: left;
  width: 100%;
  position: relative;
}
#Order .modal-content select {
  float: left;
  width: 100%;
  position: relative;
  border: 0;
  border-radius: 0;
  line-height: 28px;
  padding: 3px 10px;
  background: #00bbd1 url(/layout/images/arrow.png) 98% 13px no-repeat;
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  color: white;
  font-size: 16px;
}
#Order .modal-content select:focus {
  outline: 0;
  border-color: #00bbd1;
}

#portfolio {
  float: left;
  width: 100%;
  position: relative;
}
#portfolio.small .item {
  width: 25%;
  height: 240px;
}
#portfolio.small .item .over {
  line-height: 240px;
  width: 100%;
}
#portfolio.small .item .over .text {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  #portfolio.small .item {
    width: 20%;
  }
}
@media screen and (min-width: 1800px) {
  #portfolio.small .item {
    width: 16.66667%;
  }
}
#portfolio.small .frame {
  height: 240px;
  width: 100%;
}
#portfolio.more-list {
  margin: 30px 0 30px;
}
#portfolio.more-list .item {
  width: 97.5%;
  height: 320px;
}
#portfolio.more-list .item .over {
  height: 320px;
  line-height: 320px;
  width: 100%;
}
#portfolio.more-list .item .text {
  width: 100%;
}
#portfolio.list {
  margin: 30px 0 0px;
}
#portfolio.list .item {
  width: 25%;
  height: 320px;
  margin: 0;
  display: block;
  float: left;
}
@media screen and (min-width: 1200px) {
  #portfolio.list .item {
    width: 20%;
  }
}
@media screen and (min-width: 1800px) {
  #portfolio.list .item {
    width: 16.66667%;
  }
}
#portfolio.list span.over {
  width: 100%;
  text-align: center;
}
#portfolio.list .row + .row {
  padding-top: 6px;
}
#portfolio.list .row div:nth-child(2) .item {
  margin-left: 1.7%;
}
#portfolio.list .row div:last-child .item {
  float: right;
}
#portfolio .frame {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 90%;
  height: 320px;
  overflow: hidden;
  text-align: center;
}
#portfolio .item {
  display: inline-block;
  width: 240px;
  height: 320px;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
#portfolio .item:hover {
  opacity: 1;
  background-size: 120% auto;
}
#portfolio .item:hover .over {
  opacity: 1;
}
#portfolio .item .over {
  background: rgba(0, 0, 0, 0.7);
  width: 240px;
  height: 320px;
  float: left;
  line-height: 320px;
  opacity: 0;
}
#portfolio .item .over .text {
  line-height: 15px;
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-align: center;
}
#portfolio .item .over .text .name {
  margin: 0 auto;
  display: inline-block;
  width: 75%;
  color: white;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 0px;
}
#portfolio .item .over .text .line {
  width: 50%;
  display: inline-block;
  border-bottom: 1px solid #00bbd1;
  height: 0;
  margin: -12px 0 0px;
}
#portfolio .item .over .text .type {
  float: left;
  width: 100%;
  position: relative;
  font-family: "Times New Roman";
  font-style: italic;
  color: white;
  margin-top: 5px;
  text-transform: lowercase;
}

#partners .items {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  margin-top: -20px;
  text-align: center;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
#partners .items img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
}

#contacts .highlight {
  margin: -20px 0;
  padding: 0px;
}

.nav {
  text-align: center;
}
.nav a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin-right: 20px;
  opacity: 0.6;
}
.nav a.active, .nav a:hover {
  opacity: 1;
}
.nav a:last-child {
  margin-right: 0;
}

#map {
  height: 500px;
  padding: 0;
  margin: 0;
}

#footer {
  padding-top: 70px;
}
#footer .highlight {
  font-size: 40px;
  line-height: 45px;
}
#footer p {
  color: #b4b4c8;
}
#footer .copyright {
  margin-top: 100px;
}
#footer .copyright a {
  color: #b4b4c8;
}
#footer .copyright p {
  margin-bottom: 25px;
  line-height: 16px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.big-top-padding {
  padding-top: 40px !important;
}

.big-bottom-padding {
  padding-bottom: 40px !important;
}

.big-top-margin {
  margin-top: 40px !important;
}

.big-bottom-margin {
  margin-bottom: 40px !important;
}

.small-top-padding {
  padding-top: 20px !important;
}

.small-bottom-padding {
  padding-bottom: 20px !important;
}

.small-top-margin {
  margin-top: 20px !important;
}

.small-bottom-margin {
  margin-bottom: 20px !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.no-top-padding {
  padding-top: 0 !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.highlight {
  float: left;
  width: 100%;
  position: relative;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 37px;
}
.highlight.small {
  font-size: 20px;
  margin-bottom: 27px;
  line-height: 25px;
}

.highlight2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}
.highlight2 + .highlight2 {
  margin-top: 20px;
}

h1.title, h2.title, h3.title {
  float: left;
  width: 100%;
  position: relative;
  color: 222326;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
}
h1.title + .border-top, h2.title + .border-top, h3.title + .border-top {
  margin-top: -30px;
}
.bgcolor h1.title, .bgcolor h2.title, .bgcolor h3.title {
  color: white !important;
}

.border-bottom {
  float: left;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.bgcolor .border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.border-top {
  float: left;
  width: 100%;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.bgcolor .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

h1.title + .highlight2 {
  margin-top: -20px;
}

* + .title.border-top {
  padding-top: 35px;
}

h1.title {
  font-size: 53px;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: 300;
}
h1.title.service-title {
  letter-spacing: 5px;
  font-size: 50px;
  margin-bottom: 30px;
}

h2.title {
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 30px;
  margin-bottom: 50px;
  line-height: 40px;
}
h2.title.big {
  font-size: 40px;
}

a.underline {
  text-decoration: underline;
}

h3.title {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  padding-top: 0;
  font-style: italic;
  font-family: "Times New Roman";
  font-size: 20px;
  font-weight: normal;
  color: black;
}
h3.title.big {
  font-size: 50px;
}

h1.title, h2.title, h3.title {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
}

p {
  float: left;
  width: 100%;
  position: relative;
  font-size: 14px;
  margin-bottom: 40px;
}
.white p {
  color: #13121b;
}

span.description {
  font-size: 16px;
  font-family: "Times New Roman";
  font-style: italic;
  margin-top: 10px;
  display: inline-block;
}

.sections {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.sections a {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  border-radius: 4px;
  padding: 3px 10px 0;
  margin: -5px 10px;
  display: inline-block;
  border: 1px solid #151723;
  opacity: 0.5;
}
.sections a:hover, .sections a.active {
  color: white;
  opacity: 1;
  border: 1px solid white;
}
